#menuButton {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  text-shadow: 0px 0px 3px black;
  user-select: none;
  bottom: 0;
  margin: 2px;
}

.skinsSubmenu>.contexify_submenu {
  overflow-y: auto;
  max-height: 200px;
  padding: 5px;
  min-width: 30px;
}

.contexify {
  --contexify-zIndex: 9999;
  --contexify-menu-bgColor: rgba(40, 40, 40, .98);
  --contexify-separator-color: #4c4c4c;
  --contexify-item-color: #fff;
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: #446377;
  --contexify-rightSlot-color: #6f6e77;
  --contexify-activeRightSlot-color: #fff;
  --contexify-arrow-color: #6f6e77;
  --contexify-activeArrow-color: #fff;
  --contexify-menu-minWidth: 180px;
  --contexify-separator-margin: 2px;
  --contexify-itemContent-padding: 3px;
  --contexify-activeItem-radius: 3px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6f6e77;
}

::-webkit-scrollbar-thumb:hover {
  background: #4c4c4c;
}