#container {
  width: 100%;
  height: 100%;
}

#background {
  width: 100%;
  height: 100%;
  background: rosybrown;
}

#keyboard {
  width: 45%;
  height: 16%;
  background: blue;
  position: absolute;
  top: 75%;
  left: 40%;
  transform: rotate(21deg);
}