#keyboard {
  width: 57%;
  height: 27%;
  background: rgb(27, 27, 27);
  border: 1px solid white;
  position: absolute;
  top: 73%;
  left: 39%;
  transform: rotate3d(10, -3, 4, 68deg);
}

#popupContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
}

.popup {
  font-family: monospace;
  font-size: 10px;
  text-transform: capitalize;
  color: white;
  text-shadow: 0px 0 5px black;
  position: absolute;
  animation: fadeout 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}


@keyframes fadeout {
  0% {
    transform: scale(1.0);
  }

  100% {
    opacity: 0;
    transform: scale(5.0);
  }
}