#keyboard {
  width: 57%;
  height: 30%;
  position: absolute;
  top: 72%;
  left: 40%;
  transform: rotate3d(21, -3, 5, 64deg);
}

#keyboardArm {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 215px;
  left: 250px;
  transform-origin: center 10%;
  /* background-image set dynamically at startup; */
  background-size: 100% 100%;
  transform: rotate(20deg);
  transition-duration: 80ms;
}

#keyboardArmPivot {
  position: relative;
  top: 10%;
  left: 50%;
}

#popupContainer {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  transform: rotate(180deg);
}

.popup {
  font-family: monospace;
  font-size: 10px;
  text-transform: capitalize;
  color: white;
  text-shadow: 0px 0 5px black;
  position: absolute;
  animation: fadeout 400ms;
  animation-fill-mode: forwards;
}


@keyframes fadeout {
  0% {
    transform: scale(1.0);
  }

  90% {
    opacity: 0.8;
    transform: scale(5.0);
  }

  100% {
    opacity: 0;
  }
}