#keyboard {
  width: 57%;
  height: 27%;
  position: absolute;
  top: 73%;
  left: 39%;
  transform: rotate3d(16, -3, 5, 61deg);
}

#keyboardArm {
  width: 50px;
  height: 100px;
  position: absolute;
  top: 215px;
  left: 250px;
  transform-origin: center 10%;
  /* background-image set dynamically in main.tsx; */
  background-size: 100% 100%;
  transform: rotate(20deg);
  transition-duration: 50ms;
}

#keyboardArmPivot {
  position: relative;
  top: 10%;
  left: 50%;
}

#popupContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(180deg);
}

.popup {
  font-family: monospace;
  font-size: 12px;
  text-transform: capitalize;
  color: white;
  text-shadow: 0px 0 5px black;
  position: absolute;
  animation: fadeout 400ms;
  animation-fill-mode: forwards;
}


@keyframes fadeout {
  0% {
    transform: scale(1.0);
  }

  90% {
    opacity: 0.8;
    transform: scale(5.0);
  }

  100% {
    opacity: 0;
  }
}