#mousepad {
  width: 35%;
  height: 34%;
  background: rgb(27, 27, 27);
  border: 2px solid white;
  position: absolute;
  top: 61%;
  left: 6%;
  transform: rotate3d(9, -3, 4, 68deg);
}

#mouse {
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 4px;
  background: white;
  position: relative;
}

#mouseArm {
  position: absolute;
  width: 50px;
  height: 100px;
  background: white;
  top: 180px;
  left: 100px;
  border-radius: 4px;
  transform-origin: center 20%;
  background: url("../../assets/dog.png");
  background-size: 100% 100%;
}

#mousePivot {
  width: 1px;
  height: 1px;
  position: relative;
  left: 50%;
  top: 0%;
}